:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    background-image: url(bg-hero-desktop.svg);
    background-color: var(--Very-Pale-Cyan);
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.head-header {
    display: flex;
    justify-content: space-between;
    margin: 0px 60px;
    padding-top: 30px;
}

.top-header-button {
    padding: 5px 55px;
    border-radius: 20px;
    background-color: white;
    border: none;
    box-shadow: 3px 3px 10px rgba(128, 124, 124, 0.329);
    font-size: 14px;
    color: var(--Grayish-Blue);
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    margin: 40px 60px;
}

.img-header img {
    width: 550px;
    height: 399px;
    margin-bottom: 60px;
}

h1 {
    width: 430px;
    font-size: 40px;
    font-weight: 700;
    margin-top: 90px;
}

.header-p {
    width: 455px;
    font-size: 15px;
    line-height: 25px;
}

.bottom-header-button {
    background-color: var(--Pink);
    color: var(--Very-Pale-Cyan);
    border: none;
    border-radius: 25px;
    padding: 15px 50px;
    margin-top: 15px;
}

main {
    font-family: "Poppins", sans-serif;
    margin-top: 100px;
}

.section-1 {
    display: flex;
    justify-content: space-around;
    width: 1300px;
    margin: auto;
    border: 2px rgba(0, 0, 0, 0.123) solid;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(219, 212, 212, 0.596);
}

.section-1-img img {
    width: 400px;
    height: 300px;
    padding: 30px 0px;
}

.section-1-text {
    margin-top: 120px;
    max-width: 415px;
    padding: 30px 50px;
}

b {
    font-size: 23px;
}

.section-1-p {
    color: rgba(0, 0, 0, 0.486);
    line-height: 20px;
    font-weight: 400;
}

.section-2 {
    display: flex;
    justify-content: space-around;
    width: 1300px;
    margin: auto;
    border: 2px rgba(0, 0, 0, 0.123) solid;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(219, 212, 212, 0.596);
}

.section-2-img img {
    width: 400px;
    height: 300px;
    padding: 30px 0px;
}

.section-2-text {
    margin-top: 120px;
    max-width: 415px;
    padding: 30px 50px;
}

.section-2-p {
    color: rgba(0, 0, 0, 0.486);
    line-height: 20px;
    font-weight: 400;
}

.section-3 {
    display: flex;
    justify-content: space-around;
    width: 1300px;
    margin: auto;
    border: 2px rgba(0, 0, 0, 0.123) solid;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(219, 212, 212, 0.596);
}

.section-3-img img {
    width: 400px;
    height: 300px;
    padding: 30px 0px;
}

.section-3-text {
    margin-top: 120px;
    max-width: 415px;
    padding: 30px 50px;
}

.section-3-p {
    color: rgba(0, 0, 0, 0.486);
    line-height: 20px;
    font-weight: 400;
}

footer {
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to top,
            hsl(192, 100%, 9%) 70%,
            hsl(0, 0%, 100%) 50%,
            hsl(0, 0%, 100%));
    min-height: 560px;
}

.footer-box {
    text-align: center;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: -2px -2px 5px rgba(221, 216, 216, 0.5);
    margin-left: 370px;
    padding: 50px 100px;
}

h3 {
    color: var(--Very-Dark-Cyan);
    font-size: 25px;
    text-align: center;
}

.footer-button {
    border: none;
    border-radius: 40px;
    background-color: var(--Pink);
    padding: 25px 70px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgb(189, 188, 185);
}

.column-1 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: var(--Grayish-Blue);
    margin-left: 50px;
    margin-top: 30px;
}

.footer-p {
    width: 460px;
    line-height: 25px;
}

svg {
    margin-right: 20px;
}

small {
    margin-bottom: 20px;
}

.column-2 {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

a {
    margin-top: 15px;
    text-decoration: none;
    color: var(--Grayish-Blue);
}

.column-3 {
    display: flex;
    flex-direction: column;
    margin: 100px;
}
.footer-bottom {
    display: flex;
    align-items: end;
    padding-bottom: 20px;
    color: var(--Grayish-Blue);
}